{{#partial "content"}}
<body style="background-image: url(../public/images/hero.jpeg); background-size:cover; background-repeat:no-repeat;">
<br>
<div class="jumbotron" style="background-color: antiquewhite;">
{{#each hero}}
<div class="hero">
 <p>Name: {{ name }} </p>
 <p>Age: {{ age }}</p>
 <p>Special power: {{ power }}</p>
 <p>Weakness: {{ weaknesses }}</p>
{{each}}
</div>
</body>
{{partial}}
{{>layout.hbs}}